<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wikicleta"
    android:versionCode="2"
    android:versionName="1.1" >
    
    <permission
        android:name="org.wikicleta.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="org.wikicleta.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
	
    <application
        android:name="org.wikicleta.BootApp"
        android:allowBackup="true"
        android:icon="@drawable/wikicleta_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.wikicleta" >
        <meta-data android:name="AA_DB_NAME" android:value="Wikicleta.db" />
		<meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity
            android:name="org.wikicleta.activities.access.LandingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.ProfileSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.access.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.RootActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                     
        <activity
            android:name="org.wikicleta.activities.DiscoverActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.CommentsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="org.wikicleta.activities.ShareActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="org.wikicleta.activities.EventsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.routes.RouteDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.ActivitiesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.routes.NewRouteActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.tips.ModifyingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.parkings.ModifyingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.workshops.ModifyingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.trips.TripDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.AchievementsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.wikicleta.activities.FavoritesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="org.wikicleta.services.routes.RouteTrackingService"
            android:enabled="true" />
        <uses-library android:required="true" android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDoK1BddLkv-4lzJu4K1FOJHpAzCXlWO4Y" />
        
        <!-- google maps store API Key: AIzaSyCYLVNyHlVZlU68kvnTS9gE2rWCJ9O9JtQ -->
        <!-- google maps chelix API debug Key: AIzaSyDc-FboLRjdh3qgvWKyQsJ5lsnf1TBE8kQ -->
        
        <!-- UNDERLINE INDICATOR -->
        <activity
                android:name=".SampleUnderlinesDefault"
                android:label="Underlines/Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SampleUnderlinesNoFade"
                android:label="Underlines/No Fade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SampleUnderlinesStyledLayout"
                android:label="Underlines/Styled (via layout)"
                android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SampleUnderlinesStyledMethods"
                android:label="Underlines/Styled (via methods)"
                android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.jakewharton.android.viewpagerindicator.sample.SAMPLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>